UPSTAGE_API_KEY=

# UPSTAGE_BASE_URL=https://api.upstage.ai/v1
# SOLAR_MODEL=solar-pro
# DOCUMENT_PARSE_URL=https://api.upstage.ai/v1/document-digitization
# DOCUMENT_PARSE_MODEL=document-parse
# FILTER_REJECT_CONFIDENCE_THRESHOLD=0.6
